Thumbs.db
build/
target/
out/
.DS_Store
.gradle
.idea
*.iml
*.ipr
*.iws
debug_*.log
.project
.settings
.classpath
mynotes.txt
google_api_credentials.json
keys/
clients/python/mydev
docker-compose.yaml

